@import "../../_globalUtilityScss.scss";

.tedLogo{
    width: 60%;
    margin: 5%;
}

.headingDiv{
    background-color: whitesmoke;
    background-image: url("../../../public/images/redWhiteBg.jpg");
    
    @include fixBackgroundImage();
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.tedStyle{
    color: red;
    font-weight: 900;
}

.TEDName{
    font-size: $defaultHeadingFontSize;
    font-weight: 550;
    @media only screen and(max-width: 1000px) {
        font-size: 10vw;
    }
}

.Theme{
    font-size: $defaultHeadingFontSize;
    font-weight: 550;
    @media only screen and(max-width: 1000px) {
        font-size: 10vw;
    }
    // border: 2px solid;
}

.smallText{
    font-size: $defaultRegularFontSize;
    @media only screen and(max-width: 1000px) {
        font-size: 5vw;
    }
    // border: 2px solid;
    // margin-top: 0;
}

.eventDate{
    font-size: $defaultRegularFontSize;
    margin-bottom: 1vw;
    
    font-weight: 500;
    @media only screen and(max-width: 1000px) {
        font-size: 5vw;
    }
}
