@import "../../_globalUtilityScss.scss";

.tedLogo {
    width: 60%;
    margin: 5%;
}

.headingDiv {
    background-color: black;
    background-image: url("../../../public/images/backgroundImage.png");
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @include fixBackgroundImage();
}
.tedStyle {
    color: red;
    font-weight: 900;
}

.TEDName {
    font-size: $defaultHeadingFontSize;
    font-weight: 550;
    @media only screen and(max-width: 1000px) {
        font-size: 10vw;
    }
}

.Theme {
    font-size: $defaultHeadingFontSize;
    font-weight: 550;
    color: white;
    @media only screen and(max-width: 1000px) {
        font-size: 10vw;
    }
    // border: 2px solid;
}
.redText {
    color: red;
}
.smallText {
    font-size: $defaultRegularFontSize;
    @media only screen and(max-width: 1000px) {
        font-size: 5vw;
    }
    // border: 2px solid;
    // margin-top: 0;
}

.eventDate {
    font-size: $defaultRegularFontSize;
    margin-bottom: 2vw;
    margin-top: -2vw;
    color: white;
    font-weight: 500;
    @media only screen and(max-width: 1000px) {
        font-size: 5vw;
    }
}
