@import "../../_globalUtilityScss.scss";

.headingDiv {
    background-image: url("../../../public/images/rough/rgh1.jpg");
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    @include fixBackgroundImage();
}

.Theme {
    font-size: $defaultHeadingFontSize;
    font-weight: 550;
    color: white;
    @media only screen and(max-width: 1000px) {
        font-size: 10vw;
    }
}
.redText {
    color: red;
}

.eventDate {
    font-size: $defaultRegularFontSize;
    margin-bottom: 2vw;
    margin-top: 0vw;
    // border: 2px solid red;
    color: white;
    
    font-weight: 500;
    @media only screen and(max-width: 1000px) {
        font-size: 5vw;
        margin-left: 2vw;
    margin-right: 2vw;
    }
}
.buttonStyle {
    padding: 0.5vw;
    padding-right: 1vw;
    padding-left: 1vw;
    border: 0.1vw solid black;
    color: black;
    font-weight: 500;
    border-radius: $defaultBorderRadius;
    font-size: $defaultRegularFontSize;
    @media screen and (max-width: 1000px) {
        font-size: 4vw;
        padding: 1.5vw;
        padding-right: 2vw;
        padding-left: 2vw;
    }
}
.buttonStyle:hover{
    border: 0.1vw solid blue;
    box-sizing: border-box;
    color: blue;
}