
@media screen and (min-width: 1000px) {
    .NMIMSCarousel{
        div{
    
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }
    }
    
}