@media screen and (min-width: 1000px) {
    .TEDxNMIMScarousel {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        background-image: url("../../../../public/images/backgroundImage.webp");
        flex-direction: column;
        .imageDiv {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap !important;
            img{
                max-width: 50% !important;
            }
        }
        div{
            display: flex;
            justify-content: center;
        }
    }
    
}
