@import "../../_globalUtilityScss.scss";

.menuDiv {
    @include centerContentVerticallyHorizontally();
    margin-top: 1vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: space-between;
    backdrop-filter: blur(0.1vw);
    border-radius: $defaultBorderRadius;
    flex-wrap: wrap;
    width: 80%;
    padding-right: 1%;
    margin-right: 10%;
    margin-left: 10%;
    position: fixed;
    z-index: 1;
    max-height: 50vh;
    img {
        width: $defaultHeadingFontSize + 15;
        padding: 0;
        margin-left: 0 !important;
    }
    div {
        // margin: 1vw;
        color: black;
        color: white;
        font-size: $defaultRegularFontSize;
    }
    .menuItem {
        padding: 0.5vw;
        border-radius: $defaultBorderRadius;
        cursor: pointer;
        padding-right: 1vw;
        text-align: center;
        padding-left: 1vw;
        // width: 10vw;
        // margin-left: 0.5vw;
        margin-right: 0.5vw;
    }
    .menuItem:hover {
        background-color: rgba(0, 0, 0, 0);
        color: red;
        transition: all;
        transition-duration: 0.5s;
    }
    .subMenuItemDiv {
        overflow: visible;
        margin-top: 1.5vw;
        width: fit-content;
        position: absolute;
        color: black;
        transition: all;
        transition-duration: 1s;
        .subMenuItem {
            background-color: black;
            border-radius: $defaultBorderRadius;
            padding-top: 0.5vw;
            color: white;
            overflow: visible;
            min-width: 10vw;
            padding: 0.5vw;
            margin-top: 0.5vw;
            text-align: left;
            border: 0.2vw solid white;
        }
        .subMenuItem:hover {
            border: 0.2vw solid red;
        }
    }
    @media only screen and (max-width: 1000px) {
        .menuItem {
            font-size: 3vw;
            width: 15vw;
        }
        justify-content: center;
        img {
            width: 50%;
        }
        .subMenuItemDiv{
            div{

                font-size: 3vw;
            }
        }
    }
}
.menuDiv:hover{
    background-color: rgba(0, 0, 0, 0.8);
    transition: all;
    transition-duration: 0.5s;
}
*{
    // border: 2px solid red;
}
.rtMenu{
    display: flex;
    flex-direction: row;
}