@import "../../_globalUtilityScss.scss";

.menuDiv {
    @include centerContentVerticallyHorizontally();
    background-color: white;
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(0.1vw);
    
    // box-shadow: 0.5vw 0.5vw 0.5vw white;
    // border: 2px solid black;
    border-radius: $defaultBorderRadius;
    flex-wrap: wrap;
    width: 75%;
    padding-right: 2.5%;
    padding-left: 2.5%;
    margin-right: 10%;
    margin-left: 10%;
    position: fixed;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    img {
        width: $defaultHeadingFontSize + 15;
        // border: 2px solid red;
        padding: 0;
    }
    div {
        // margin: 1vw;
        color: black;
        color: white;
        font-size: $defaultRegularFontSize;
    }
    .menuItem {
        padding: 0.5vw;
        border-radius: $defaultBorderRadius;
        cursor: pointer;
        padding-right: 1vw;
        padding-left: 1vw;
    }
    .menuItem:hover {
        background-color: #111111;
        color: white;
        transition: all;
        transition-duration: 0.5s;
    }
    @media only screen and (max-width: 1000px) {
        .menuItem {
            font-size: 3vw;
        }
        justify-content: center;
        img {
        width: 50%;
    }
    }
}
