@import "../../_globalUtilityScss.scss";

.BlackTEDTeamBackground {
    @include centerContentVerticallyHorizontally();
    h1 {
        color: white;
    }
    @include fixBackgroundImage();
    background-image: url("../../../public/images/backgroundImage.png");

    .membersProfileDiv {
        @include centerContentVerticallyHorizontally();
        flex-direction: row;
        align-items: flex-start;
    }
}
