@import "../../_globalUtilityScss.scss";

.themeBackground {
    height: 120vh;
    @include centerContentVerticallyHorizontally();
    background-image: url("https://cdn.pixabay.com/photo/2013/07/12/17/22/curtain-152112__480.png");
    @include fixBackgroundImage();
    .themeTitleImage {
        border-radius: $defaultBorderRadius;
        border: 2px solid blue;
        padding: 2vw;
        box-shadow: 0.5vw 0.5vw 1vw blue;
        background-color: white;
    }
    p {
        font-size: $defaultRegularFontSize;
        color: white;
        border-radius: $defaultBorderRadius;
        margin: 3vw;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 1vw;
    }
}
