@import "../../_globalUtilityScss.scss";

.blackGlass {
    // background-color: rgba(240, 241, 242, 0.7);
    // backdrop-filter: blur(0.1vw);
    // border: 0.1vw solid;
    color: white;
    background-color: black;
    background-color: rgba(0, 0, 0, 0);
    border-radius: $defaultBorderRadius;
    @include centerContentVerticallyHorizontally();
    padding: 1vw;
    overflow: auto;
    margin: 1vw;
    // box-shadow: 1vw 1vw 1vw rgb(29, 26, 26);
    font-size: $defaultRegularFontSize;
    @media only screen and (max-width: 1000px) and (orientation: portrait) {
        font-size: 3vw;
    }
    @media only screen and (max-width: 1000px) and (orientation: landscape) {
        font-size: 3vw;
    }
    .blackGlassHeading {
        h1 {
            font-weight: 500;
            color: white;
            font-size: $defaultHeadingFontSize - 1vw;
            @media only screen and (max-width: 1000px) and (orientation: portrait) {
                font-size: 10vw;
            }
            @media only screen and (max-width: 1000px) and (orientation: landscape) {
                font-size: 8vw;
            }
        }
    }
    .blackGlassContent {
        background-color: rgba(0, 0, 0, 0);
        font-weight: 500;
        overflow: auto;
        font-size: $defaultRegularFontSize;
        @media only screen and (max-width: 1000px) {
            font-size: 3vw;
        }
    }
}
