@import "../../_globalUtilityScss.scss";

h1 {
    font-weight: 700;
    font-size: $defaultHeadingFontSize;
}

.TEDTeamBackground {
    @include centerContentVerticallyHorizontally();
    @include fixBackgroundImage();
    @media only screen and (max-width: 1000px) {
        h1{
            font-size: 10vw;
        }
    }
    // background-color: whitesmoke;
    background-color: rgba(0,0,0,0);
    // background-color: yellow;
    .membersProfileDiv {
        @include centerContentVerticallyHorizontally();
        flex-direction: row;
        align-items: flex-start;
    }
}
