@import "../../_globalUtilityScss.scss";

h1 {
    font-weight: 700;
    font-size: $defaultHeadingFontSize - 1vw;
}

.TEDTeamBackground {
    @include centerContentVerticallyHorizontally();
    // background-image: url("../../../public/images/redWhiteBg.jpg");
    @include fixBackgroundImage();
    background-color: whitesmoke;
    .membersProfileDiv {
        @include centerContentVerticallyHorizontally();
        flex-direction: row;
        align-items: flex-start;
    }
}
