@import "../../_globalUtilityScss.scss";

.LightTEDx {
    width: fit-content;
    height: fit-content;
    h1 {
        color: red;
        @media only screen and(max-width: 1000px) {
            font-size: 10vw;
        }
        font-size: $defaultHeadingFontSize;
        font-weight: 900;
    }
    @include centerContentVerticallyHorizontally();
    .Lightx {
        color: red;
        padding-top: 0vw;
        padding-bottom: 0vw;
        margin-top: 0.5vw;
        // border: 2px solid red;
        font-weight: 900;
        font-size: 2.5vw;
        @media only screen and(max-width: 1000px) {
            margin-top: 1vw;
            font-size: 5vw;
        }
    }
    .LightnmimsIndore {
        color: white;
        font-weight: 550;
        font-size: $defaultHeadingFontSize;
        @media only screen and(max-width: 1000px) {
            font-size: 10vw;
        }
    }

    .LightxFullForm {
        color: white;
        margin: 0.5vw;
        // margin-top: 1.8vw;

        // border: 2px solid white;
    }
}
.LightTEDxDiv {
    @include centerContentVerticallyHorizontally();
    background-color: rgba(255, 255, 255, 0);
    flex-direction: column;
    .LightTEDxSecondDiv {
        font-weight: 500;
        // border: 2px solid yellow;
        font-size: $defaultRegularFontSize;
        @media only screen and(max-width: 1000px) {
            font-size: 3vw;
        }
        color: white;
        // border: 2px solid white;
        margin-top: 0vw;
        .Lightx {
            color: red;
            font-weight: 900;
        }
    }
}
