@import "../../_globalUtilityScss.scss";

.formLabel {
    color: white;
}

body {
    background-color: black !important;
}

.contactBackgroundDiv {
    height: 100vh;
    background-color: white;
    background-image: url("../../../public/images/redWhiteBg.jpg");

    @include fixBackgroundImage(true);
    flex-direction: column;
    h1{
        font-weight: 500;
            font-size: $defaultHeadingFontSize - 1vw;
            text-align: center;
    }
    .contactPageGridDiv {
        display: flex;
        iframe {
            height: 55vh; // Fibonacci numbers :)
            width: 34vw;
            border-radius: $defaultBorderRadius;
        }
        @include centerContentVerticallyHorizontally();
        div {
            padding: 1vw;
            margin: 1vw;
        }
        flex-direction: row;
        .contactPageGridDivLeft {
            justify-content: left;
        }
        .contactPageGridDivRight {
            justify-content: right;
            color: black;
            .socialMedia {
                img {
                    width: 3vw;
                    margin-right: 1vw;
                    // margin-bottom: 0.8vw;
                }
                display: flex;
                align-items: center;
                font-size: $defaultRegularFontSize;
                font-weight: 500;
                background-color: rgba(240, 248, 255, 0.5);
                cursor: pointer;
                color: black;
                border-radius: $defaultBorderRadius;
            }
            .socialMedia:hover {
                background-color: rgba(245, 236, 236, 0.5);
                backdrop-filter: blur(0.2vw);
                box-shadow: 0.2vw 0.2vw 0.2vw black;
            }
        }
    }
}
