@import "../../_globalUtilityScss.scss";

.formLabel {
    color: white;
}

body {
    background-color: whitesmoke !important;
}

.contactBackgroundDiv {
    height: 100vh;
    background-color: whitesmoke;
    @include fixBackgroundImage(true);
    @include centerContentVerticallyHorizontally();
    flex-direction: row;
    align-items: center;
    h1 {
        font-weight: 500;
        font-size: $defaultHeadingFontSize - 1vw;
        text-align: center;
    }
    @media only screen and (max-width: 1000px) {
        height: 80vh;

        h1 {
            font-size: 10vw;
        }
    }
    .contactPageGridDiv {
        display: flex;
        iframe {
            height: 60vh; // Fibonacci numbers :)
            width: 80vw;
            // border-radius: $defaultBorderRadius;
            border: 0px solid red;
            @media only screen and (max-width: 1000px) {
                height: 50vh;
            }
        }
        @include centerContentVerticallyHorizontally();
        div {
            padding: 1vw;
            margin: 1vw;
        }
        flex-direction: column;
        .contactPageGridDivLeft {
            justify-content: center;
            // width: 100%;
        }
        .contactPageGridDivRight {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            color: black;
            margin: 0.1vw;
            margin-bottom: 0;
            padding: 0.1vw;
            padding-bottom: 0;
            .socialMedia {
                width: fit-content;
                img {
                    width: 3vw;
                    // margin-right: 1vw;
                    // margin-bottom: 0.8vw;
                }
                display: flex;
                align-items: center;
                font-size: $defaultRegularFontSize;
                font-weight: 500;
                cursor: pointer;
                color: black;
                border-radius: $defaultBorderRadius;
                margin: 0.1vw;
                @media only screen and (max-width: 1000px) {
                    img {
                        width: 10vw;
                        margin: 0.5vw;
                    }
                }
            }
            .socialMedia:hover {
                background-color: rgba(245, 236, 236, 0.5);
                backdrop-filter: blur(0.2vw);
                box-shadow: 0.2vw 0.2vw 0.2vw black;
            }
        }
    }
}
* {
    // border: 2px solid red;
}
.credits {
    @include centerContentVerticallyHorizontally();
    width: 100%;
    padding: 0;
    div {
        margin: 0;
    }
    @media only screen and (max-width: 1000px) {
        font-size: 5vw;
    }
    .spaceClass{
        margin-left: 0.3vw;
    }
}
