
@mixin centerContent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.aboutTedBackground{
    background-image: url("https://cdn.pixabay.com/photo/2018/07/25/16/00/art-3561710_960_720.jpg");
    height: 120vh;
    background-repeat: no-repeat;
    background-size: cover;
    // background-color: black;
    @include centerContent();
    background-attachment: fixed;
}
