@import "../../_globalUtilityScss.scss";

.carouselImage {
    border: 2px solid red;
    
}
.carouselDiv {
    background-color: white;
    max-height: 50vh;
    
}

.carousel {
    height: 20vh;
    background-color: white;
    @media only screen and (max-width: 1000px) {
        height: 25%;
    }
    .realCarousel{
        height: 25vh;
    background-color: white;
        
        img{
        height: 25vh;
        }
    }
}
.center {
    display: flex;
    // align-items: center;
    // justify-content: center;
    // flex-direction: row;
}
