@import "../../_globalUtilityScss.scss";

.carouselImage {
    border: 2px solid red;
}
.carouselDiv {
    background-color: rgba(0, 0, 0, 0.5);

    max-height: 50vh;
}

.carousel {
    height: 20vh;
    background-color: rgba(255, 255, 255, 0);
    @media only screen and (max-width: 1000px) {
        height: 30%;
    }
    .realCarousel {
        height: 35vh;
        background-color: black;

        img {
            height: 30vh;
        }
    }
}
.center {
    display: flex;
    // align-items: center;
    // justify-content: center;
    // flex-direction: row;
}
.centerDivImage,
.centerWhiteDivImage {
    background-color: black;
    @media screen and (max-width: 1000px) {
        img {
            width: 100%;
        }
    }
    display: flex;
    justify-content: center;
}

.centerWhiteDivImage {
    background-color: white;
}
