@import "../../_globalUtilityScss.scss";

.aboutTedxNMIMS {
    height: 100vh;
    margin-top: 20vh;
    .centerContent {
        // background-color: black;
        background-image: url("../../../public/images/trialBg1.jpeg");
        background-image: url("https://cdn.pixabay.com/photo/2014/06/16/23/39/black-370118_960_720.png");
        @include fixBackgroundImage();
        height: 130vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    @media only screen and (max-width: 1000px) and (orientation: portrait) {
        height: 100vh;
    }
    @media only screen and (orientation: landscape) and (max-width: 1000px) {
        height: 200vh;
    }
    @include fixBackgroundImage(true);
    // background-image: url("../../../public/images/redWhiteBg.jpg");
    @include centerContentVerticallyHorizontally();
}

.descSection {
    margin: 1vw;
    border: 0.2vw solid white;
    border-radius: $defaultBorderRadius;
    @include centerContentVerticallyHorizontally();

    .descContent {
        color: blue;
        font-size: $defaultRegularFontSize;
        color: white;
        padding: 1vw;
    }
}
*{
    // border: 2px solid red;
}