@import "../../_globalUtilityScss.scss";

.NMIMSBackground {
    // background-image: url("../../../public/images/redWhiteBg.png");

    @include centerContentVerticallyHorizontally();
    align-items: center;
        // border: 2px solid red;
    justify-content: center;
    .headingContentSection{
        @include centerContentVerticallyHorizontally();
        h1{
            font-size: $defaultHeadingFontSize;
        }
        p{
            font-size: $defaultRegularFontSize;
        }
    }
    h1, p{
        // border: 2px solid red;
    }
    height: 60vh;
    @media only screen and (max-width: 1000px) and (orientation: portrait) {
        height: 150vh;
        // align-items: stretch;
    }
    @media only screen and (orientation: landscape) and (max-width: 1000px) {
        height: 300vh;
    }

    // @include fixBackgroundImage(false);
    h1{
        font-weight: 500;
    }
}

.nmimsPic {
    width: 100%;
    // border: 2px solid;
    top: 0;
}

.descSection {
    background: linear-gradient(
        rgba(127, 185, 193, 0.5),
        rgba(169, 179, 128, 0.5)
    ) !important;
    margin: 1vw;
    border: 0.2vw solid white;
    backdrop-filter: blur(0.1vw);
    border-radius: $defaultBorderRadius;
    @include centerContentVerticallyHorizontally();

    .descContent {
        font-size: $defaultRegularFontSize;
        padding: 1vw;
        color: black !important;
        font-weight: 600;
    }
}
