@import "../../_globalUtilityScss.scss";

.NMIMSBackground {
    // background-image: url("../../../public/images/redWhiteBg.png");

    @include centerContentVerticallyHorizontally();
    align-items: center;
    // border: 2px solid red;
    justify-content: center;
    .headingContentSection {
        @include centerContentVerticallyHorizontally();
        h1 {
            font-size: $defaultHeadingFontSize;
        }
        p {
            font-size: $defaultRegularFontSize;
            margin-left: 4vw;
            text-align: center;
            margin-right: 2vw;
            // border: 2px solid red;
            padding: 0 !important;
        }
        @media only screen and (max-width: 1000px) and (orientation: portrait) {
            height: 60vh;
            p {
                font-size: 5vw;
            }
            // align-items: stretch;
        }
    }

    height: 100vh;
    @media only screen and (max-width: 1000px) and (orientation: portrait) {
        height: 100vh;
        p {
            font-size: 15vw;
        }
        // align-items: stretch;
    }
    h1 {
        font-weight: 500;
    }
}

.nmimsPic {
    width: 100%;
    // border: 2px solid;
    top: 0;
}

.descSection {
    background: linear-gradient(
        rgba(127, 185, 193, 0.5),
        rgba(169, 179, 128, 0.5)
    ) !important;
    // margin: 1vw;
    border: 0.2vw solid white;
    backdrop-filter: blur(0.1vw);
    border-radius: $defaultBorderRadius;
    @include centerContentVerticallyHorizontally();

    .descContent {
        font-size: $defaultRegularFontSize;
        // padding: 1vw;
        color: black !important;
        font-weight: 600;
    }
}
* {
    // border: 2px solid red;
}
