@import "../../_globalUtilityScss.scss";

.NMIMSBackground {
    background-image: url("../../../public/images/nmimsCampus.webp");
    height: 120vh;
    background-color: black;
    @include fixBackgroundImage(false);
    @include centerContentVerticallyHorizontally();
}

.descSection {
    background: linear-gradient(rgba(7, 5, 5, 0.8), rgba(0, 0, 0, 0.9));
    margin: 1vw;
    border: 0.2vw solid white;
    border-radius: $defaultBorderRadius;
    @include centerContentVerticallyHorizontally();

    .descContent {
        color: blue;
        font-size: $defaultRegularFontSize;
        color: white;
        padding: 1vw;
    }
}
