@import "../../_globalUtilityScss.scss";

.gradientHeading {
    font-size: $defaultHeadingFontSize;
    font-weight: 500;
    color: transparent;
    background: linear-gradient(rgb(5, 5, 18), cyan, blue);
    -webkit-background-clip: text;
    text-align: center;
};