.sponsorsMainDiv {
    display: flex;
    justify-content: center;
    h2 {
        font-size: 3vw;
        color: black;
        // border: 2px solid black;
        padding: 1vw;
        padding-right: 3vw;
        padding-left: 3vw;
        @media screen and (max-width: 1000px) {
            font-size: 5vw;
        }
        // background-image: linear-gradient(red, black);
    }
    flex-wrap: wrap-reverse;
    align-items: center;
    background-color: whitesmoke;
    .sponsorCategory {
        background-color: white;
        display: flex;
        border-radius: 0.5vw;
        justify-content: center;
        flex-direction: column;
        object-fit: contain;
        align-items: center;
        margin: 2vw;
        padding-right: 10vw;
        padding-left: 10vw;
        padding-top: 1vw;
        .SponsorsCategoryImages {
            align-items: center;
            // border: 2px solid red;
            display: flex;
        }
    }
}

img {
    padding: 1vw;
    margin: 1vw;
    max-width: 20vw;
    @media screen and (max-width: 1000px) {
        max-width: 30vw;
    }
}

.masterDiv {
    h1 {
        text-align: center;
        padding-top: 3vw;
        background-color: white;
        font-size: 5vw;
        @media screen and (max-width: 1000px) {
            padding-top: 0vw;
            font-size: large;
            font-size: 10vw;
        }
    }
}
