@import "../../../_globalUtilityScss.scss";

.profileDiv {
    background: #ada996; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #eaeaea,
        #dbdbdb,
        #f2f2f2,
        #ada996
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #eaeaea,
        #dbdbdb,
        #f2f2f2,
        #ada996
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: black;
    max-width: 33%;
    @include centerContentVerticallyHorizontally();
    padding: 1vw;
    margin: 1vw;
    padding-top: 0;
    border-radius: $defaultBorderRadius;
    // border: 0.3vw solid black;
    box-shadow: 0.5vw 0.5vw 0.5vw grey;
    .profileImage {
        width: 13vw;
        height: 30vh;
        border-radius: 100%;
        transition: all;
        transition-duration: 1s;
        object-fit: contain;
        box-shadow: 0.2vw 0.2vw 0.5vw black;
        cursor: pointer;
    }
    .post {
        cursor: pointer;
        color: black;
        font-size: $defaultRegularFontSize;
        padding: 1vw;
        background: #ada996; /* fallback for old browsers */
        background: -webkit-linear-gradient(
            to right,
            #eaeaea,
            #dbdbdb,
            #f2f2f2,
            #ada996
        ); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(
            to right,
            #eaeaea,
            #dbdbdb,
            #f2f2f2,
            #ada996
        ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

        border: 0.2vw solid black;
        font-weight: 450;
        margin: 1vw;
        border-radius: $defaultBorderRadius;
    }
    .name {
        font-size: 3vw;
        text-align: center;
    }
    .introduction {
        font-size: 1vw;
    }
}
